<h2>Google Sign In</h2>

<div *ngIf="authService.user$ | async as user; else signIn">
  <pre>
    {{ user | json }}
  </pre>
  <button type="button" (click)="authService.signOut()">Sign Out</button>
</div>

<ng-template #signIn>
  <button type="button" (click)="authService.googleSignIn()">Sign In With Google</button>
  <button type="button" (click)="authService.testUserSignIn(1)">Sign In Test User 1</button>
  <button type="button" (click)="authService.testUserSignIn(2)">Sign In Test User 2</button>
</ng-template>