{{diagnostic}}
<div class="container">
  <h2>User Input</h2>
  <form #userForm="ngForm" name="userForm" autocomplete="off">
    
    <label for="sex">Sex:</label>
    <div>
      <input type="radio" id="sex" name="sex" value="male" [(ngModel)]="user.sex" (change)=calcBmr() required/>Male
      <input type="radio" id="sex" name="sex" value="female" [(ngModel)]="user.sex" (change)=calcBmr() required/>Female
    </div>

    <label for="weight">Weight (lbs):</label>
    <input type="number" id="weight" name="weight" [(ngModel)]="user.weight" (blur)=calcBmr() required/> 
    
    <label for="height">Height (inches):</label>
    <input type="number" id="height" name="height" [(ngModel)]="user.height" (blur)=calcBmr() required/>

    <label for="age">Age (years):</label>
    <input type="number" id="age" name="age" [(ngModel)]="user.age" (blur)=calcBmr() required/>

    <label for="bmr">BMR:</label>
    <input type="number" id="bmr" name="bmr" [(ngModel)]="user.bmr" placeholder="**CALCULATED - requires: sex/weight/height/age**" required readonly/>
    <!-- TODO: show formula when hover -->

    <label for="activityLevel">Activity Level:</label>
    <select id="activityLevel" name="activityLevel" [(ngModel)]=user.activityLevel (change)="calcDailyCaloricNeed()" required>
      <!-- ?? why does the value of this selcted/disable/hidden options have to be undefined? -->
      <option value="undefined" selected disabled hidden>------ Select an option ------</option>
      <option *ngFor="let activityLevel of activityLevels" [value]="activityLevel[1]">{{ activityLevel[0] }}</option>
    </select>

    <label for="dailyCaloricNeed">Daily Caloric Need:</label> <!-- TODO: note - to maintain weight?-->
    <input type="number" id="dailyCaloricNeed" name="dailyCaloricNeed" [(ngModel)]="user.dailyCaloricNeed" placeholder="**CALCULATED - requires: bmr/activity level**"  required readonly/>
    
    <!-- TODO: Add help messages so user knows how to measure -->
    <label for="neckCircum">Neck Circumference (inches):</label>
    <input type="number" id="neckCircum" name="neckCircum" [(ngModel)]="user.neckCircum" (blur)=calcBodyFatPerc()  required/>

    <label for="waistCircum">Waist Circumference (inches):</label>
    <input type="number" id="waistCircum" name="waistCircum" [(ngModel)]="user.waistCircum" (blur)=calcBodyFatPerc()  required/>
    
    <label *ngIf="user.sex === 'female'" for="hipCircum">Hip Circumference (inches):</label>
    <input *ngIf="user.sex === 'female'" type="number" id="hipCircum" name="hipCircum" [(ngModel)]="user.hipCircum" (blur)=calcBodyFatPerc()  required/>

    <label *ngIf="user.sex === 'male' || user.sex === undefined" for="bodyFatPerc">Body Fat Percent (%):</label> 
    <input *ngIf="user.sex === 'male' || user.sex === undefined" type="number" id="bodyFatPerc" name="bodyFatPerc" [(ngModel)]="user.bodyFatPerc" placeholder="**CALCULATED - requires: height/neck/waist**"  required readonly/>

    <label *ngIf="user.sex === 'female'" for="bodyFatPerc">Body Fat Percent (%):</label> 
    <input *ngIf="user.sex === 'female'" type="number" id="bodyFatPerc" name="bodyFatPerc" [(ngModel)]="user.bodyFatPerc" placeholder="**CALCULATED - requires: height/neck/waist/hip**"  required readonly/>
      
    <label for="leanMass">Lean Mass (lbs):</label> 
    <input type="number" id="leanMass" name="leanMass" [(ngModel)]="user.leanMass" placeholder="**CALCULATED - requires: weight/body fat percent**"  required readonly/>

    <button type="submit" class="btn btn-submit" [disabled]="!userForm.valid">Submit</button>

    <div [hidden]="userForm.valid" class="alert">
      All inputs are required!
    </div>
  </form>
</div>
