<form *ngIf="isEdit; else userInfoDisplay" class="form" [formGroup]="form">
    <ng-container *ngFor="let question of questions">
        <app-dynamic-form-question class="form__question" [question]="question" [form]="form"></app-dynamic-form-question>
    </ng-container>

  <button class="form__bttn--cancel" type="button" (click)="cancelFormEdit()">CANCEL</button>
  <button classs="form__bttn--bsubmit" type="button" [disabled]="!form.valid" (click)="saveForm()">SAVE</button>

  <div class="form__alert" [hidden]="form.valid">
    All inputs are required!
  </div>
</form>

<ng-template #userInfoDisplay>
  <div class="table">
    <ng-container *ngFor="let question of questions">
      <div class="table__col1-container">
        <div *appHelpTooltip="question.labelTooltip" class="table__label">
          {{ question.label }}
        </div>
      </div>
      <div class="table__col2-container">
        <div *appHelpTooltip="question.valueTooltip" class="table__value">
          <!-- {{ (form.controls[question.key].value || 'Click Edit Button to Edit') | units:unitSystem:question.measurement }} -->
          {{ (form.controls[question.key].value || 'Click Edit Button to Edit') }}
        </div>
      </div>
    </ng-container>
    <button class="table__bttn" type="button" (click)="enableFormEdit()">EDIT</button>
  </div>
</ng-template>