<h3>Pantry Table</h3>

<ng-container *ngIf="!isGroceryTrip; else groceryTrip">
  <button type="button" (click)="toggleEdit()">Toggle Edit</button>
  <button type="button" (click)="update()">Update</button>
  <button type="buton" (click)="startGroceryTrip()">Start Grocery Trip</button>
  
  <table>
    <colgroup>
      <col span="2" style="width: fit-content">
      <col span="1" style="width: 100px">
      <col span="1" style="width: 50px">
      <col span="4" style="width: 100px">
    </colgroup>

    <thead>
      <tr>
        <th rowspan="2" scope="col" *ngFor="let header of headers">{{ header }}</th>
      </tr>
    </thead>
    
    <tbody>
      <ng-container *ngIf="(!isEdit); else edit">
        <tr >
          <th colspan="8">GROCERY STORE ITEMS</th>
        </tr>
        <tr *ngFor="let food of groceryStoreItems | sortBy: 'asc': 'groceryStoreOrder'">
          <td *ngFor="let header of headers; index as i">{{ getObjectValues(food)[i] }}</td>
        </tr>
        <ng-container *ngIf="onlineItems.length">

        <tr>
          <th colspan="8">ONLINE ITEMS</th>
        </tr>
          <tr *ngFor="let food of onlineItems | sortBy: 'asc': 'name'">
            <td *ngFor="let header of headers; index as i">{{ getObjectValues(food)[i] }}</td>
          </tr> 
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</ng-container>

<ng-template #edit>
  <tr>
    <th colspan="8">GROCERY STORE ITEMS</th>
  </tr>
  <tr *ngFor="let food of groceryStoreItems | sortBy: 'asc': 'groceryStoreOrder'">
    <td *ngFor="let header of headers | slice: 0: 3; index as i">{{ getObjectValues(food)[i] }}</td>
    <td>
      <input type="checkbox" [(ngModel)]="food.mealPrep" (input)="addToUpdateList(food)">
    </td>
    <td *ngFor="let header of headers | slice: 4: 6; index as i">{{ getObjectValues(food)[i+4] }}</td>
    <td>
      <input type="number" [(ngModel)]="food.groceryStoreOrder" (input)=addToUpdateList(food)>
      <button class="bttn-order" type="button" (click)="changeBuyOption(food)">STORE</button>
    </td>
    <td *ngFor="let header of headers | slice: 7; index as i">{{ getObjectValues(food)[i+6] }}</td>
    <button class="bttn" type="button" (click)="increaseQuantity(food)">↑</button>
    <button class="bttn" type="button" (click)="decreaseQuantity(food)">↓</button>
  </tr>

  <tr>
    <th colspan="8">ONLINE ITEMS</th>
  </tr>
  <tr *ngFor="let food of onlineItems | sortBy: 'asc': 'name'"> 
    <td *ngFor="let header of headers | slice: 0: 5; index as i">{{ getObjectValues(food)[i] }}</td>
    <td>
      <button class="bttn-order" type="button" (click)="changeBuyOption(food)">ONLINE</button>
    </td>
    <td *ngFor="let header of headers | slice: 6; index as i">{{ getObjectValues(food)[i+6] }}</td>
    <button class="bttn" type="button" (click)="increaseQuantity(food)">↑</button>
    <button class="bttn" type="button" (click)="decreaseQuantity(food)">↓</button>
  </tr>
</ng-template>

<ng-template #groceryTrip>
  <div class="container">
    <div class="centerTitle">ITEM {{ groceryItemNumber + 1 }} / {{ groceryStoreItems.length }}</div>
    <div class="line"></div>
    <div class="center">{{ groceryStoreItems[groceryItemNumber].name | uppercase }}</div>
    <div class="center">{{ groceryStoreItems[groceryItemNumber].brand | uppercase }}</div>
    <div class="center">{{ groceryStoreItems[groceryItemNumber].containerSize }}</div>
    <div class="center" [class.zero]="groceryStoreItems[groceryItemNumber].pantryQuantity === 0">QUANTITY: {{ groceryStoreItems[groceryItemNumber].pantryQuantity }}</div>
    <div class="line"></div>
    <button class="col1" (click)="skipGroceryItem()">SKIP</button>
    <button class="col2" (click)="buyGroceryItem(groceryItemNumber)">BUY</button>
  </div>
</ng-template>

 