<h2>User Info</h2>
<app-dynamic-form #initialFormEl [hidden]="form !== initialForm" [form]="initialForm" [questions]="initialQuestions"></app-dynamic-form>
<app-dynamic-form #maleFormEl
    [hidden]="form !== maleForm"
    [form]="maleForm"
    [questions]="maleQuestions" 
    (unitConversionEvent)="convertUnits($event)"s
    (formCancelEvent)="cancelFormEdit()"
    (formSaveEvent)="saveUserInfo()">
</app-dynamic-form>
<app-dynamic-form #femaleFormEl 
    [hidden]="form !== femaleForm"
    [form]="femaleForm" 
    [questions]="femaleQuestions" 
    (unitConversionEvent)="convertUnits($event)"
    (formCancelEvent)="cancelFormEdit()"
    (formSaveEvent)="saveUserInfo()">
</app-dynamic-form>
<!-- <app-dynamic-form #initialFormEl *ngIf="form === initialForm" [form]="initialForm" [questions]="initialQuestions"></app-dynamic-form>
<app-dynamic-form #maleFormEl
    *ngIf="form === maleForm"
    [form]="maleForm"
    [questions]="maleQuestions" 
    (unitConversionEvent)="convertUnits($event)"s
    (formCancelEvent)="cancelFormEdit()"
    (formSaveEvent)="saveUserInfo()">
</app-dynamic-form>
<app-dynamic-form #femaleFormEl 
    *ngIf="form === femaleForm"
    [form]="femaleForm" 
    [questions]="femaleQuestions" 
    (unitConversionEvent)="convertUnits($event)"
    (formCancelEvent)="cancelFormEdit()"
    (formSaveEvent)="saveUserInfo()">
</app-dynamic-form> -->
