<h2>User Info</h2>
<app-dynamic-form #initialForm [hidden]="formGroup !== initialFormGroup" [formGroup]="initialFormGroup" [questions]="initialQuestions"></app-dynamic-form>
<app-dynamic-form #maleForm 
    [hidden]="formGroup !== maleFormGroup" 
    [formGroup]="maleFormGroup" 
    [questions]="maleQuestions" 
    (unitConversionEvent)="convertUnits($event)"s
    (formCancelEvent)="cancelFormEdit()"
    (formSaveEvent)="saveUserInfo()">
</app-dynamic-form>
<app-dynamic-form #femaleForm 
    [hidden]="formGroup !== femaleFormGroup"   
    [formGroup]="femaleFormGroup" 
    [questions]="femaleQuestions" 
    (unitConversionEvent)="convertUnits($event)"
    (formCancelEvent)="cancelFormEdit()"
    (formSaveEvent)="saveUserInfo()">
</app-dynamic-form>