<h1>{{ title }}</h1>

<nav>
  <a routerLink="/meal-planner/user-info" routerLinkActive="active-link">User Info</a>
  <a routerLink="/meal-planner/food-database" routerLinkActive="active-link">Food Database</a>
  <a routerLink="/meal-planner/daily-meal-plan" routerLinkActive="active-link">Daily Meal Plan</a>
  <a routerLink="/meal-planner/food-stock" routerLinkActive="active-link">Food Stock</a>
  <a routerLink="/meal-planner/meal-prep" routerLinkActive="active-link">Meal Prep</a>
  <a routerLink="/login" routerLinkActive="active-link">Login</a>
</nav>


