/* TODO: change styling on ALL pages - user prebuilt components from ionic */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* Global Form Styling */
/* TODO: need to create better margins for page ? possibly use grid layout */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* TODO: check if anything still uses this style then REMOVE */
/* ?? weird styling in firefox: if input is outside of form then it colors */
/* .container {
  width: fit-content;  
} */

