/* Global Form Styling */
/* ?? weird styling in firefox: if input is outside of form then it colors */
form {
  display: grid;
  grid-template-columns: max-content 350px;
  grid-gap: 5px;
}

form label {
  grid-column: 1 / 2;
  text-align: right;
  border: 1px solid;
  padding: 2px;
  background-color: #c0c0c0;
}

form input {
  grid-column: 2 / 3;
  text-align: center;
}

form select {
  grid-column: 2 / 3;
  
  /* text-align-last: center; */
  padding-left: 75px;

  /* -ms-text-align-last: center;
  -moz-text-align-last: center; */
}

/* form option {
  direction: rtl;
} */


form .btn-reset {
  grid-column: 1 / 2;
}

form .btn-submit {
  grid-column: 2 / 3;
}

form .alert {
  color: red;
  background-color: black;
  grid-column: 2 / 3;
  padding: 5px;
  text-align: center;
}

.ng-valid {
  border-left: 5px solid green;
}

.ng-invalid {
  border-left: 5px solid red;
}

input[type="radio"]:invalid {
  box-shadow:0 0 3px red;
}
/* .ng-invalid[type="radio"] {
  box-shadow:0 0 3px red;
}  DOES THE SAME THING*/

input[readonly] {
  background-color:#d2d2d2;
}