<div class="container">
  <div class="table1">
    <table>
      <thead>
        <tr>
          <th scope="col">DAILY CALORIC NEED</th>
          <th scope="col">CALORIES TO CUT</th>
          <th scope="col">DAILY CALORIES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ userInfo.dailyCaloricNeed }}</td>
          <td>
            <input type="number" [(ngModel)]="cutCalories" (input)=calcDailyCalories()> 
          </td>
          <td> {{ dailyCalories }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table2">
    <table>
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of headers"> 
            {{ header }} 
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let macro of dailyMacros | keyvalue: originalOrder">
          <th scope="row"> {{ macro.value.nutrient | uppercase }}</th>
          <td> {{macro.value.recommended }} </td>
          <td *ngIf="macro.value.nutrient !== 'carb'; else emptyCell"> 
            <input type="number" [(ngModel)]="macro.value.chosen" (input)="calcMacroValues(macro.value)">
          </td>
          <td> {{ macro.value.grams }} </td>
          <td> {{ macro.value.calories }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #emptyCell>
  <td>
    N/A
  </td>
</ng-template>